{%- liquid 
    assign fontsize_text = block.settings.fontsize_text
    assign color_title = block.settings.color_title
    assign text_transform = block.settings.text_transform
-%}
<div class="product__vendor" 
    style="
    --color-title: {{ color_title }};
    --text-transform: {{ text_transform }};
        font-size:18px;
    " 
>
    {{ product.vendor }}
</div>